
<div class="row">
  <div class="col">

    <div class="card">
      <h5 class="card-header">Identificação da solicitação</h5>
      <div class="card-body">
        <label>Edital:</label> <b><a href="{{chamada.edital.pagina}}" target="_blank">{{selecionado.chamada.edital.identificacao}} - {{selecionado.chamada.edital.titulo}}</a></b>
        <br /><label>Inscrição:</label> <b>{{ selecionado.inscricao }}</b>
        <br /><label>Chamada:</label> <b>{{ selecionado.chamada.chamada }},</b> de <b>{{ selecionado.chamada.inicio_solicitacoes }}</b> até  <b>{{ selecionado.chamada.fim_solicitacoes }}</b>
        <br /><label>Matriz/Curso:</label> <b>{{selecionado.matriz_curso}}</b>
        <br /><label>Ano letivo:</label> <b>{{ selecionado.ano_letivo }}</b>
        <br /><label>Período letivo:</label> <b>{{ selecionado.periodo_letivo }}</b>
        <br /><label>Forma de ingresso:</label> <b>{{ selecionado.turno }}</b>
        <br /><label>Polo EAD:</label> <b>{{ selecionado.forma_ingresso }}</b>
        <br /><label>Lista de seleção:</label> <b>{{selecionado.lista}}</b>
      </div>
    </div>
    <br />
    <div class="card">
      <h5 class="card-header">Identificação do solicitante</h5>
      <div class="card-body">
        <label>Nacionalidade:</label> <b>{{ selecionado.nacionalidade }}</b>
        {% if selecionado.cpf %}<br><label>CPF:</label> <b>{{ selecionado.cpf }}</b>{% endif %}
        {% if selecionado.passaporte %}<br /><label>Passaporte:</label> <b>{{ selecionado.passaporte }}</b>{% endif %}
        <br /><label>Nome:</label> <b>{{ selecionado.nome }}</b>
        {% if selecionado.nome_social %}<br /><label>Nome social:</label> <b>{{ selecionado.nome_social }}</b>{% endif %}
        <br /><label>E-Mail:</label> <b>{{ selecionado.email }}</b>
      </div>
    </div>
  </div>
</div>
