{% extends "pre_matricula/base.html" %}
{% load i18n admin_urls static admin_list %}
{% load common_utils %}
{% load static %}
{% load documento_exigido %}

{% block content %}

    {% if selecionado.solicitacao.apenas_leitura %}
    <div class="jumbotron">
      Você não pode mais enviar o formulário e os arquivos pois <b>{{ selecionado.solicitacao.apenas_leitura_motivo|lower }}</b>.
    </div>
    {% endif %}

    {% if selecionado.solicitacao %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'form' %}active{% endif %}" id="form-tab" href="{% url 'solicitacao:formulario' selecionado.chamada_id %}" role="tab" aria-controls="form" aria-selected="true">Formulário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'file' %}active{% endif %}" id="file-tab" href="{% url 'solicitacao:anexar' selecionado.chamada_id %}" role="tab" aria-controls="file" aria-selected="false">Arquivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'send' %}active{% endif %}" id="send-tab" data-toggle="tab" href="#send" role="tab" aria-controls="send" aria-selected="false">Concluir</a>
      </li>
    </ul>
    {% endif %}

    <div class="tab-content" id="myTabContent">
      {% block conteudo_interno %}{% endblock conteudo_interno %}
    </div>

{% endblock content %}