{% extends "pre_matricula/solicitacao/base.html" %}
{% load common_utils %}
{% load static %}

{% block conteudo_interno %}

<div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
  <h3>Formulário de solicitação de matrícula</h3>
  <form method="post">
    {% csrf_token %}

    {% include "pre_matricula/solicitacao/_identificacao.html" %}

    {% if selecionado.solicitacao.apenas_leitura %}<fieldset disabled="disabled">{% endif %}

    {% include "pre_matricula/solicitacao/_declaracao.html" with field=form.organizacao_didatica  %}

    {% if selecionado.lista == 'PPI' %}
      <br>
      <div class="card">
        <div class="card-header">Autodeclaração de etnia</div>
        <div class="card-body">
          DECLARO que sou uma pessoa <b>{{selecionado.solicitacao.raca}}</b>, para o fim específico de atender aos
          termos do <b>Edital {{selecionado.chamada.edital.identificacao}} - {{selecionado.chamada.edital.titulo}}</b> no que se refere à
          reserva de vagas da lista diferenciada com a condição de etnia.
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" {% if form.autodeclaracao_etnia.value %} checked="" {% endif %} name="{{ form.autodeclaracao_etnia.name }}" id="{{ form.autodeclaracao_etnia.auto_id }}" required="">
            <label class="form-check-label" for="{{ form.autodeclaracao_etnia.auto_id }}"><b>Declaro ser verdade</b></label> 
          </div>
        </div>
      </div>
    {% endif %}

    {% include "pre_matricula/solicitacao/_declaracao.html" with field=form.penal  %}
    {% include "pre_matricula/solicitacao/_declaracao.html" with field=form.veracidade  %}
    {% include "pre_matricula/solicitacao/_declaracao.html" with field=form.confirmacao  %}
      
    
    {% if not selecionado.solicitacao.apenas_leitura %}<br /><button class="btn btn-success my-2 my-sm-0" type="submit">Concluir</button>{% endif %}
    
    {% if selecionado.solicitacao.apenas_leitura %}</fieldset>{% endif %}

  </form>          
</div>

{% endblock conteudo_interno %}