{% extends "pre_matricula/solicitacao/base.html" %}
{% load i18n admin_urls static admin_list %}
{% load static %}
{% load documento_exigido %}

{% block conteudo_interno %}
    <!-- form: begin -->
    <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
      <h3>Formulário de solicitação de matrícula</h3>
      {% include "pre_matricula/solicitacao/_identificacao.html" %}
      
      <form method="post">
        {% if selecionado.solicitacao.apenas_leitura %}<fieldset disabled="disabled">{% endif %}
        {% csrf_token %}
        <br />
        <div class="card">
          <div class="card-header">Dados Pessoais</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.nome.label_tag }}
              {{ form.nome }}
              <span class="helptext">{{ form.nome.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.nome_social.label_tag }}
              {{ form.nome_social }}
              <span class="helptext">{{ form.nome_social.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.sexo.label_tag }}
              {{ form.sexo }}
              <span class="helptext">{{ form.sexo.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.data_nascimento.label_tag }}
              {{ form.data_nascimento }}
              <span class="helptext">{{ form.data_nascimento.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.estado_civil.label_tag }}
              {{ form.estado_civil }}
              <span class="helptext">{{ form.estado_civil.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Dados Familiares</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.nome_pai.label_tag }}
              {{ form.nome_pai }}
              <span class="helptext">{{ form.nome_pai.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.estado_civil_pai.label_tag }}
              {{ form.estado_civil_pai }}
              <span class="helptext">{{ form.estado_civil_pai.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.pai_falecido.label_tag }}
              {{ form.pai_falecido }}
              <span class="helptext">{{ form.pai_falecido.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.nome_mae.label_tag }}
              {{ form.nome_mae }}
              <span class="helptext">{{ form.nome_mae.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.estado_civil_mae.label_tag }}
              {{ form.estado_civil_mae }}
              <span class="helptext">{{ form.estado_civil_mae.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.mae_falecida.label_tag }}
              {{ form.mae_falecida }}
              <span class="helptext">{{ form.mae_falecida.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.responsavel.label_tag }}
              {{ form.responsavel }}
              <span class="helptext">{{ form.responsavel.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.email_responsavel.label_tag }}
              {{ form.email_responsavel }}
              <span class="helptext">{{ form.email_responsavel.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.parentesco_responsavel.label_tag }}
              {{ form.parentesco_responsavel }}
              <span class="helptext">{{ form.parentesco_responsavel.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.cpf_responsavel.label_tag }}
              {{ form.cpf_responsavel }}
              <span class="helptext">{{ form.cpf_responsavel.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Endereço</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.cep.label_tag }}
              {{ form.cep }}
              <span class="helptext">{{ form.cep.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.logradouro.label_tag }}
              {{ form.logradouro }}
              <span class="helptext">{{ form.logradouro.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.numero.label_tag }}
              {{ form.numero }}
              <span class="helptext">{{ form.numero.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.complemento.label_tag }}
              {{ form.complemento }}
              <span class="helptext">{{ form.complemento.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.bairro.label_tag }}
              {{ form.bairro }}
              <span class="helptext">{{ form.bairro.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.cidade.label_tag }}
              {{ form.cidade }}
              <span class="helptext">{{ form.cidade.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.estado.label_tag }}
              {{ form.estado }}
              <span class="helptext">{{ form.estado.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.tipo_zona_residencial.label_tag }}
              {{ form.tipo_zona_residencial }}
              <span class="helptext">{{ form.tipo_zona_residencial.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Contato</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.telefone_principal.label_tag }}
              {{ form.telefone_principal }}
              <span class="helptext">{{ form.telefone_principal.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.telefone_secundario.label_tag }}
              {{ form.telefone_secundario }}
              <span class="helptext">{{ form.telefone_secundario.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.telefone_adicional_1.label_tag }}
              {{ form.telefone_adicional_1 }}
              <span class="helptext">{{ form.telefone_adicional_1.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.telefone_adicional_2.label_tag }}
              {{ form.telefone_adicional_2 }}
              <span class="helptext">{{ form.telefone_adicional_2.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.email_pessoal.label_tag }}
              {{ form.email_pessoal }}
              <span class="helptext">{{ form.email_pessoal.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Deficiências, transtornos e superdotação</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.aluno_pne.label_tag }}
              {{ form.aluno_pne }}
              <span class="helptext">{{ form.aluno_pne.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.tipo_necessidade_especial.label_tag }}
              {{ form.tipo_necessidade_especial }}
              <span class="helptext">{{ form.tipo_necessidade_especial.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.tipo_transtorno.label_tag }}
              {{ form.tipo_transtorno }}
              <span class="helptext">{{ form.tipo_transtorno.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.superdotacao.label_tag }}
              {{ form.superdotacao }}
              <span class="helptext">{{ form.superdotacao.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Transporte Escolar Utilizado</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.utiliza_transporte_escolar_publico.label_tag }}
              {{ form.utiliza_transporte_escolar_publico }}
              <span class="helptext">{{ form.utiliza_transporte_escolar_publico.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.poder_publico_responsavel_transporte.label_tag }}
              {{ form.poder_publico_responsavel_transporte }}
              <span class="helptext">{{ form.poder_publico_responsavel_transporte.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.tipo_veiculo.label_tag }}
              {{ form.tipo_veiculo }}
              <span class="helptext">{{ form.tipo_veiculo.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Outras Informações</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.tipo_sanguineo.label_tag }}
              {{ form.tipo_sanguineo }}
              <span class="helptext">{{ form.tipo_sanguineo.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.pais_origem.label_tag }}
              {{ form.pais_origem }}
              <span class="helptext">{{ form.pais_origem.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.estado_naturalidade.label_tag }}
              {{ form.estado_naturalidade }}
              <span class="helptext">{{ form.estado_naturalidade.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.naturalidade.label_tag }}
              {{ form.naturalidade }}
              <span class="helptext">{{ form.naturalidade.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.raca.label_tag }}
              {{ form.raca }}
              <span class="helptext">{{ form.raca.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Dados Escolares Anteriores</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.nivel_ensino_anterior.label_tag }}
              {{ form.nivel_ensino_anterior }}
              <span class="helptext">{{ form.nivel_ensino_anterior.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.tipo_instituicao_origem.label_tag }}
              {{ form.tipo_instituicao_origem }}
              <span class="helptext">{{ form.tipo_instituicao_origem.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.ano_conclusao_estudo_anterior.label_tag }}
              {{ form.ano_conclusao_estudo_anterior }}
              <span class="helptext">{{ form.ano_conclusao_estudo_anterior.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Registro Geral (RG)</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.numero_rg.label_tag }}
              {{ form.numero_rg }}
              <span class="helptext">{{ form.numero_rg.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.uf_emissao_rg.label_tag }}
              {{ form.uf_emissao_rg }}
              <span class="helptext">{{ form.uf_emissao_rg.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.orgao_emissao_rg.label_tag }}
              {{ form.orgao_emissao_rg }}
              <span class="helptext">{{ form.orgao_emissao_rg.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.data_emissao_rg.label_tag }}
              {{ form.data_emissao_rg }}
              <span class="helptext">{{ form.data_emissao_rg.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Título de Eleitor</div>
          <div class="card-body">
            <p class="form-group">
              {{ form.numero_titulo_eleitor.label_tag }}
              {{ form.numero_titulo_eleitor }}
              <span class="helptext">{{ form.numero_titulo_eleitor.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.zona_titulo_eleitor.label_tag }}
              {{ form.zona_titulo_eleitor }}
              <span class="helptext">{{ form.zona_titulo_eleitor.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.secao.label_tag }}
              {{ form.secao }}
              <span class="helptext">{{ form.secao.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.data_emissao_titulo_eleitor.label_tag }}
              {{ form.data_emissao_titulo_eleitor }}
              <span class="helptext">{{ form.data_emissao_titulo_eleitor.help_text }}</span>
            </p>
            <p class="form-group">
              {{ form.uf_emissao_titulo_eleitor.label_tag }}
              {{ form.uf_emissao_titulo_eleitor }}
              <span class="helptext">{{ form.uf_emissao_titulo_eleitor.help_text }}</span>
            </p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Carteira de Reservista</div>
          <div class="card-body">
              bla
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Certidão Civil</div>
          <div class="card-body">
              bla
          </div>
        </div>
        <br>
        
        
        
        

        <div class="card">
          <div class="card-header">Formulário de solicitação de matrícula</div>
          <div class="card-body">
              {{ form.as_p }}
          </div>
        </div>

        {% if not selecionado.solicitacao.apenas_leitura %}<br /><button class="btn btn-success my-2 my-sm-0" type="submit">Salvar</button>{% endif %}
    
        {% if selecionado.solicitacao.apenas_leitura %}</fieldset>{% endif %}

      </form>          
    </div>
    <!-- form: end -->
{% endblock conteudo_interno %}