{% extends "pre_matricula/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
    <div class="jumbotron">
      <h1>Sistema de Solicitação de Matrícula - SSM</h1>
      <h2>Sobre o SSM</h2>
      <p>O “Sistema de Solicitação de Matrícula” (SSM) atende à necessidade dos alunos que necessitam realizar suas matrículas, mas não podem ou não desejam comparecer presencialmente para este fim.</p>        
      <p>Só pode solicitar sua matrícula neste sistema os candidatos selecionados nos editais em que constam estas informações.</p>
      <p>O envio do formulário de solicitação de matrícula não caracteriza a realização da matrícula, apenas é o registro de solicitação e do envio dos dados e arquivos necessários para que a secretária possa dar andamento no processo de matrícula. Ou seja, se os dados estiverem incorretos, os arquivos estiverem incompletos, errados ou inelegíveis a MATRÍCULA NÃO PODERÁ SER CONCLUÍDA.</p>
    </div>
  
  <h2>Editais chamando alunos a se matricularem</h2>

  <table class="table">
    <thead><tr><th>Edital</th><th width="1%">Ações</th></tr></thead>
    <tbody>
      {% for chamada in chamadas_em_aberto %}
      <tr>
        <td>
          {{ chamada.edital.identificacao }} - {{ chamada.edital.titulo }} <br />
          Chamada: <small>{{ chamada.chamada }}</small><br />
          De: <small>{{ chamada.inicio_solicitacoes }}</small><br />
          Até: <small>{{ chamada.fim_solicitacoes }}</small>
        </td>
        <td>
          {% if not request.selecionado or request.selecionado.chamada.id == chamada.id %}
          <a href="{% url 'solicitacao:formulario' chamada.id %}" class="btn btn-primary btn-sm" role="button">Solicitar matrícula</a>
          {% endif %}
          <a href="{{ chamada.edital.pagina }}" class="btn btn-outline-secondary btn-sm" role="button">Ver edital</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Não há.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Próximos editais a chamar alunos a se matricularem</h2>
  <table class="table">
    <thead><tr><th>Edital</th><th width="1%">Ações</th></tr></thead>
    <tbody>
      {% for chamada in futuras_chamadas %}
      <tr>
        <td>
          {{ chamada.edital.identificacao }} - {{ chamada.edital.titulo }} <br />
          Chamada: <small>{{ chamada.chamada }} ({{ chamada.tipo_chamada }})</small><br />
          De: <small>{{ chamada.inicio_solicitacoes }}</small><br />
          Até: <small>{{ chamada.fim_solicitacoes }}</small>
        </td>
        <td>
          <a href="{{ chamada.edital.pagina }}" class="btn btn-outline-secondary btn-sm" role="button">Ver edital</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Não há.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Chamadas anteriores</h2>

  <table class="table">
    <thead><tr><th>Edital</th><th width="1%">Ações</th></tr></thead>
    <tbody>
      {% for chamada in chamadas_passadas %}
      <tr>
        <td>
          {{ chamada.edital.identificacao }} - {{ chamada.edital.titulo }} <br />
          Chamada: <small>{{ chamada.chamada }} ({{ chamada.tipo_chamada }})</small><br />
          De: <small>{{ chamada.inicio_solicitacoes }}</small><br />
          Até: <small>{{ chamada.fim_solicitacoes }}</small>
        </td>
        <td>
          <a href="{{ chamada.edital.pagina }}" class="btn btn-outline-secondary btn-sm" role="button">Ver edital</a>
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="3">Não há.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
