{% extends "pre_matricula/base.html" %}
{% load i18n admin_urls static admin_list %}
{% load common_utils %}
{% load static %}
{% load documento_exigido %}

{% block content %}
    {% if selecionado.solicitacao %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Formulário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">Arquivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="send-tab" data-toggle="tab" href="#send" role="tab" aria-controls="send" aria-selected="false">Concluir</a>
      </li>
    </ul>
    {% endif %}
    <div class="tab-content" id="myTabContent">
      <!-- form: begin -->
      <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <form method="post">
          {% csrf_token %}

          <div class="row">
            <div class="col">
              <h3>Chamada</h3>
              <dl>
                <dt>Edital:</dt>
                <dd><a href="{{chamada.edital.pagina}}" target="_blank">{{chamada.edital.identificacao}} - {{chamada.edital.titulo}}</a></dd>
                
                <dt>Chamada:</dt><dd>{{ chamada.chamada }}</dd>
                <dt>De:</dt><dd>{{ chamada.inicio_solicitacoes }}</dd>
                <dt>Até:</dt><dd>{{ chamada.fim_solicitacoes }}</dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3>Dados da oferta</h3>
              <dl>
                <dt>Matriz/Curso:</dt><dd>{{selecionado.matriz_curso}}</dd>
                <dt>Ano letivo:</dt><dd>{{ selecionado.ano_letivo }}</dd>
                <dt>Período letivo:</dt><dd>{{ selecionado.periodo_letivo }}</dd>
                <dt>Forma de ingresso:</dt><dd>{{ selecionado.turno }}</dd>
                <dt>Polo EAD:</dt><dd>{{ selecionado.forma_ingresso }}</dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3>Identificação</h3>
              <dl>
                <dt>Lista de seleção:</dt><dd>{{selecionado.lista}}</dd>
                <dt>Nacionalidade:</dt><dd>{{ selecionado.nacionalidade }}</dd>
                <dt>CPF:</dt><dd>{{ selecionado.cpf }}</dd>
                <dt>Passaporte:</dt><dd>{{ selecionado.passaporte }}</dd>
                <dt>Nome:</dt><dd>{{ selecionado.nome }}</dd>
                <dt>Nome social:</dt><dd>{{ selecionado.nome_social }}</dd>
                <dt>E-Mail:</dt><dd>{{ selecionado.email }}</dd>
                <dt>Inscrição:</dt><dd>{{ selecionado.inscricao }}</dd>
              </dl>
            </div>
          </div>

      
          {{ form.as_p }}

          <button class="btn btn-success my-2 my-sm-0" type="submit">Salvar</button>

        </form>          
      </div>
      <!-- form: end -->

      <!-- form: begin -->
      <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
        <h3>Documentos Exigidos</h3>
        <form class="form" action="/pre_matricula/adicionar_documento/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ documentoForm.as_p }}
          <button class="btn btn-success" type="submit">Enviar Arquivo</button>
        </form>

        <hr>
        <h5>Lista de Documentos exigidos</h5>
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Tipo</th>
              <th width="1%">Enviado?</th>
            </tr>
          </thead>
          <tbody>
            {% for documento in documentosExigidos %}
            <tr>
              <td>{{documento.documentacao}}</td>
              <td>{% ocorreu_upload solicitacao.id documento.documentacao %}</td>
            </tr>
            {% empty %}
              <tr>
                <td colspan="3">Nenhum arquivo anexado.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <hr>
        <h5>Lista de Enviados</h5>
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nome</th>
              <th width="1%">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for documento in documentos %}
            <tr>
              <td>{{documento.documentacao}}</td>
              <td>{{documento.arquivo}}</td>
              <!-- <td>{{documento.sha512_arquivo}}</td> -->
              <td>
                <a href="/pre_matricula/{{documento.id}}/remove_documento" class="btn btn-outline-secondary btn-sm" role="button">Remover</a>
              </td>
            </tr>
            {% empty %}
              <tr>
                <td colspan="3">Nenhum arquivo anexado.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- form: end -->

      <!-- send: begin -->
      <div class="tab-pane fade" id="send" role="tabpanel" aria-labelledby="send-tab">
        <br>
        <h4>Concluir Inscrição</h4>
        <form class="form" action="/pre_matricula/concluir_solicitacao/" method="post">
          {% csrf_token %}
          {% if chamada.edital.tem_ppi %}
            <div class="card">
              <div class="card-header">
                Autodeclaração de Etnia
              </div>
              <div class="card-body">
                <p>
                  DECLARO que sou <b>{{solicitacao.raca}}</b>, para o fim específico de atender aos
                  termos do <b>Edital {{chamada.edital.identificacao|add:" - "|add:chamada.edital.titulo}}</b> no que se refere à
                  reserva de vagas da lista diferenciada com a condição de etnia.
                </p>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="{{ solicitacaoConcluidaForm.autodeclaracao_etnia.value }}"
                    name="{{ solicitacaoConcluidaForm.autodeclaracao_etnia.name }}"
                    id="{{ solicitacaoConcluidaForm.autodeclaracao_etnia.auto_id }}"
                  >
                  <label class="form-check-label" for="{{ solicitacaoConcluidaForm.autodeclaracao_etnia.auto_id }}">
                    {{ solicitacaoConcluidaForm.autodeclaracao_etnia.label }}
                  </label>
                </div>
              </div>
            </div>
            <br>
          {% endif %}
          <div class="card">
            <div class="card-header">
              Organização Didática
            </div>
            <div class="card-body">
              <p>Declaro que estou ciente das normas previstas na Organização Didática* do IFRN e que:</p>
              <ol>
                <li>Terei que frequentar as aulas presenciais, independente do turno, se assim a Instituição determinar;</li>
                <li>Terei de renovar minha matrícula, periodicamente, durante o período de renovação de matrícula, previsto no Calendário Acadêmico, sob pena de ter a matrícula cancelada pela instituição;</li>
                <li>Caso deixe de frequentar as aulas (acessar o ambiente virtual), nos 10 (dez) primeiros dias úteis do início do curso, sem que seja apresentada uma justificativa, serei desligado do IFRN, sendo minha vaga preenchida por outro candidato, de acordo com a ordem classificatória do processo seletivo.</li>
                <li>O estudante não poderá ocupar matrículas simultâneas no mesmo campus ou em diferentes campi do IFRN, nas seguintes situações, independente da modalidade de ensino: em mais de um curso de pós-graduação stricto sensu, em mais de um curso de pós-graduação lato sensu; em mais de um curso de graduação; em mais de um curso técnico de nível médio. Não será permitida a matrícula simultânea em mais de dois cursos.</li>
                <li>Para os alunos de graduação, estou ciente da Lei Federal nº 12.089 de 11 de novembro de 2009, que proíbe que uma mesma pessoa ocupe 2 (duas) vagas simultaneamente em instituições públicas de ensino superior.</li>
              </ol>
              <p>Diante do exposto, assumo o compromisso de seguir as normas institucionais, e peço deferimento.​</p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="{{ solicitacaoConcluidaForm.organizacao_didatica.value }}"
                  name="{{ solicitacaoConcluidaForm.organizacao_didatica.name }}"
                  id="{{ solicitacaoConcluidaForm.organizacao_didatica.auto_id }}"
                >
                <label class="form-check-label" for="{{ solicitacaoConcluidaForm.organizacao_didatica.auto_id }}">
                  {{ solicitacaoConcluidaForm.organizacao_didatica.label }}
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              Declarações Legais
            </div>
            <div class="card-body">
              <p>Declaro, também, estar ciente de que, a comprovação da falsidade desta declaração, em procedimento que me assegure o contraditório e a ampla defesa, implicará no cancelamento da minha matrícula nesta Instituição Federal de Ensino, sem prejuízo das sanções penais cabíveis.</p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="{{ solicitacaoConcluidaForm.penal.value }}"
                  name="{{ solicitacaoConcluidaForm.penal.name }}"
                  id="{{ solicitacaoConcluidaForm.penal.auto_id }}"
                >
                <label class="form-check-label" for="{{ solicitacaoConcluidaForm.penal.auto_id }}">
                  {{ solicitacaoConcluidaForm.penal.label }}
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="{{ solicitacaoConcluidaForm.veracidade.value }}"
              name="{{ solicitacaoConcluidaForm.veracidade.name }}"
              id="{{ solicitacaoConcluidaForm.veracidade.auto_id }}"
            >
            <label class="form-check-label" for="{{ solicitacaoConcluidaForm.veracidade.auto_id }}">
              {{ solicitacaoConcluidaForm.veracidade.label }}
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="{{ solicitacaoConcluidaForm.confirmacao.value }}"
              name="{{ solicitacaoConcluidaForm.confirmacao.name }}"
              id="{{ solicitacaoConcluidaForm.confirmacao.auto_id }}"
            >
            <label class="form-check-label" for="{{ solicitacaoConcluidaForm.confirmacao.auto_id }}">
              {{ solicitacaoConcluidaForm.confirmacao.label }}
            </label>
          </div>
          <br>
          <button class="btn btn-success" type="submit">Concluir Inscrição</button>
        </form>
      </div>
      <!-- send: end -->

    </div>
{% endblock content %}