{% extends "pre_matricula/base.html" %}
{% load i18n admin_urls static admin_list %}
{% load common_utils %}
{% load static %}
{% load documento_exigido %}

{% block content %}
    {% if selecionado.solicitacao %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Formulário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">Arquivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="send-tab" data-toggle="tab" href="#send" role="tab" aria-controls="send" aria-selected="false">Concluir</a>
      </li>
    </ul>
    {% endif %}
    <div class="tab-content" id="myTabContent">
      <!-- form: begin -->
      <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <form method="post">
          {% csrf_token %}

          <div class="row">
            <div class="col">
              <h3>Chamada</h3>
              <dl>
                <dt>Edital:</dt>
                <dd><a href="{{chamada.edital.pagina}}" target="_blank">{{chamada.edital.identificacao}} - {{chamada.edital.titulo}}</a></dd>
                
                <dt>Chamada:</dt><dd>{{ chamada.chamada }}</dd>
                <dt>De:</dt><dd>{{ chamada.inicio_solicitacoes }}</dd>
                <dt>Até:</dt><dd>{{ chamada.fim_solicitacoes }}</dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3>Dados da oferta</h3>
              <dl>
                <dt>Matriz/Curso:</dt><dd>{{selecionado.matriz_curso}}</dd>
                <dt>Ano letivo:</dt><dd>{{ selecionado.ano_letivo }}</dd>
                <dt>Período letivo:</dt><dd>{{ selecionado.periodo_letivo }}</dd>
                <dt>Forma de ingresso:</dt><dd>{{ selecionado.turno }}</dd>
                <dt>Polo EAD:</dt><dd>{{ selecionado.forma_ingresso }}</dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3>Identificação</h3>
              <dl>
                <dt>Lista de seleção:</dt><dd>{{selecionado.lista}}</dd>
                <dt>Nacionalidade:</dt><dd>{{ selecionado.nacionalidade }}</dd>
                <dt>CPF:</dt><dd>{{ selecionado.cpf }}</dd>
                <dt>Passaporte:</dt><dd>{{ selecionado.passaporte }}</dd>
                <dt>Nome:</dt><dd>{{ selecionado.nome }}</dd>
                <dt>Nome social:</dt><dd>{{ selecionado.nome_social }}</dd>
                <dt>E-Mail:</dt><dd>{{ selecionado.email }}</dd>
                <dt>Inscrição:</dt><dd>{{ selecionado.inscricao }}</dd>
              </dl>
            </div>
          </div>

      
          {{ form.as_p }}

          <button class="btn btn-success my-2 my-sm-0" type="submit">Salvar</button>

        </form>          
      </div>
      <!-- form: end -->

      <!-- form: begin -->
      <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
        <h3>Documentos Exigidos</h3>
          <form class="form" action="/pre_matricula/adicionar_documento/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ documentoForm.as_p }}
            <button type="submit">Enviar Arquivo</button>
          </form>

          <hr>
          <h5>Lista de Enviados</h5>
          <table class="table table-striped table-bordered table-sm">
            <thead>
              <tr>
                <th>Tipo</th>
                <th width="1%">Enviado?</th>
              </tr>
            </thead>
            <tbody>
              {% for documento in documentosExigidos %}
              <tr>
                <td>{{documento.documentacao}}</td>
                <td>{% ocorreu_upload chamada.id documento.documentacao %}</td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Nenhum arquivo anexado.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr>
          <h5>Lista de Documentos exigidos</h5>
          <table class="table table-striped table-bordered table-sm">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th width="1%">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for documento in documentos %}
              <tr>
                <td>{{documento.documentacao}}</td>
                <td>{{documento.arquivo}}</td>
                <!-- <td>{{documento.sha512_arquivo}}</td> -->
                <td>
                  <a href="/pre_matricula/{{documento.id}}/remove_documento" class="btn btn-outline-secondary btn-sm" role="button">Remover</a>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Nenhum arquivo anexado.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <!-- form: end -->

      <!-- send: begin -->
      <div class="tab-pane fade" id="send" role="tabpanel" aria-labelledby="send-tab">
        ARQUIVOS
      </div>
      <!-- send: end -->

    </div>
{% endblock content %}